.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 4rem;
  /* max-width: 50%; */
  margin-inline: auto;
}

.skills-section .skills {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-section .skills:first-of-type {
  margin-block-end: 1rem;
}

.skills-section .skills span {
  background-color: var(--color-card-background);
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 768px) {
  .skills-section .skills {
    width: 80%;
  }
}
