@import url(../../assets/css/colors.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4rem;
}

header nav {
  display: flex;
  gap: 1rem;
  font-size: clamp(1rem, 0.9296rem + 0.3005vw, 1.2rem);
}

header > a {
  color: var(--color-purple-light);
  font-size: clamp(1.2rem, 1.0944rem + 0.4507vw, 1.5rem);
  font-weight: 600;
}

header nav svg {
  fill: var(--color-text-default);
  height: 20px;
  margin-block-start: 0.1rem;
}
