@import url(./assets/css/colors.css);

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Inter;
}

.wrapper {
  min-height: 100vh;
  padding-inline: 5%;
  padding-block-start: 2rem;
  background-color: var(--color-background);
  color: var(--color-text-default);
  font-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
}

h1 {
  margin-block-end: 1.5rem;
  font-size: clamp(1.4rem, 1.1887rem + 0.9014vw, 2rem);
}

h2 {
  font-size: clamp(1.2rem, 0.9887rem + 0.9014vw, 1.8rem);
  text-align: center;
  text-transform: uppercase;
  margin-block-end: 1.5rem;
}

h3 {
  font-size: clamp(1rem, 0.8944rem + 0.4507vw, 1.3rem);
}

a {
  cursor: pointer;
  color: unset;
  text-decoration: unset;
}

.btn {
  color: var(--color-purple-light);
  border: 1px solid var(--color-purple-light);
  padding: 0.5rem 1rem;
  font-size: clamp(1rem, 0.9296rem + 0.3005vw, 1.2rem);
  border-radius: 5px;
}
